:root {
    --accent-color: #2196F3;
    --color-title: #212121;
    --color-description: #757575;
    --color-lead: #ffffff;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font);
    font-style: normal;
}

/*=============== COMPONENTS ===============*/
.nav__list-link-item:hover,
.nav__list-link-item:focus,
.address__tel:hover,
.address__tel:focus,
.address__mail:hover,
.address__mail:focus,
.footer__mail:hover,
.footer__mail:focus {
    color: var(--accent-color);
}

.nav__list-link-item,
.address__mail,
.address__tel {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--color-description);
}

/*=============== END COMPONENTS ===============*/

/*=============== HEADER ===============*/
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192; 
}

.logo-blue {
    color: #2196F3;
}

.logo-black {
    color: #000000;
}

.logo-white {
    color: #ffffff;
}

/*=============== END HEADER ===============*/

/*=============== HERO ===============*/
.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    /*color: var(--color-lead);*/
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    /*color: var(--color-lead);*/
}

/*=============== END HERO ===============*/

/*=============== DISCRIPTION ===============*/
.advantage__list-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-title);
}

.advantage__list-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--color-description);
}
/*=============== END DISCRIPTION ===============*/

/*=============== ACTIVITIES ===============*/
.aboutus__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--color-title);
}
/*=============== END ACTIVITIES ===============*/

/*=============== TEAM ===============*/
.team__list-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--color-title);
}
.team__list-item-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--color-description);
}
/*=============== END TEAM ===============*/

/*=============== FOOTER ===============*/
.location {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--color-lead);;
}

.footer__mail,
.footer__tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--color-description);
}
/*=============== END FOOTER ===============*/


/*================== MENU ==================*/
.menu__buttons-list-item-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--color-title);
    }
/*================== END MENU ==================*/

/*================== PROJECTS ==================*/
.projects-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.000;
    letter-spacing: 0.06em;
    color: var(--color-title);
}

.projects-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--color-description);
}
/*================== END PROJECTS ==================*/